<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/ocle-layout}"
>
<head>
    <title>회원가입</title>
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/main/join/join}" th:object="${joinInpt}" method="POST">
        <input type="text" name="username" placeholder="이메일 주소" th:field="*{username}"/><br />
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="in-valid">username has Error</div>
        <input type="password" name="password" placeholder="비밀번호" th:field="*{password}"/><br />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="in-valid">password has Error</div>
        <input type="password" name="passwordCnfm" placeholder="비밀번호 확인" th:field="*{passwordCnfm}"/><br />
        <div th:if="${#fields.hasErrors('passwordCnfm')}" th:errors="*{passwordCnfm}" class="in-valid">passwordCnfm has Error</div>
        <input type="text" name="custNm" placeholder="고객명" th:field="*{custNm}"/><br />
        <div th:if="${#fields.hasErrors('custNm')}" th:errors="*{custNm}" class="in-valid">custNm has Error</div>
        <div th:if="${prcsRsltCode} eq 'E'" th:text="${msgeCntn}" class="in-valid"></div>

        <button type="submit">회원가입</button>
    </form>
</div>
</body>
</html>