<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<!-- sitemap -->
<div th:fragment="sitemap">
    <ul>
        <li><a th:href="@{/}">HOME</a></li>
        <li sec:authorize="!isAuthenticated()"><a th:href="@{/main/login/login}">로그인</a></li>
        <li sec:authorize="isAuthenticated()">
            <span sec:authentication="name">사용자</span>
            <a th:href="@{/logout}">로그아웃</a>
        </li>
    </ul>
</div>

<!-- sitemap-admin -->
<div th:fragment="sitemap-admin">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin" th:href="@{/admin}">관리자 home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/}">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" th:href="@{/admin/intgMsgeMgmt1p}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            공통관리
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#" th:href="@{/admin/intgCodeMgmt1p}">통합코드조회</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/admin/intgCodeMgmt2p}">통합코드관리</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/admin/intgMsgeMgmt1p}">통합메시지조회</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/admin/intgMsgeMgmt2p}">통합메시지관리</a></li>
                            <!--<li><a class="dropdown-item" href="#">Something else here</a></li>-->
                        </ul>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>-->
                </ul>
                <form class="d-flex" role="search">
                    <span sec:authentication="name" class="px-2">사용자</span>
                    <a th:href="@{/logout}" class="btn btn-outline-secondary btn-sm">로그아웃</a>
                </form>
            </div>
        </div>
    </nav>
</div>

<!-- sitemap-supplier -->
<div th:fragment="sitemap-supplier">
    <div>판매자 센터</div>
    <ul>
        <li><a th:href="@{/}">HOME</a></li>
        <li sec:authorize="!isAuthenticated()"><a th:href="@{/main/login/login}">로그인</a></li>
        <li sec:authorize="isAuthenticated()">
            <span sec:authentication="name">사용자</span>
            <a th:href="@{/logout}">로그아웃</a>
        </li>
    </ul>
</div>
</html>