<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/ocle-layout}"
>
<head>
    <title>로그인</title>
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/main/login/loginPrcs}" method="POST">
        <input type="text" name="username" placeholder="이메일 주소" /><br />
        <input type="password" name="password" placeholder="비밀번호" /><br />
        <div th:if="${param.error}" class="in-valid">
            사용자 정보가 일치하지 않습니다.
        </div>
        <button type="submit">로그인</button>
    </form>
    <a th:href="@{/main/join/join}">회원가입</a>
</div>
</body>
</html>