<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/ocle-layout-admin}"
>
<head>
    <title>통합코드조회</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        jQuery(document).ready(function() {
//            alert([[${msgeCntn}]]);
        });
        /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content">
    <div>
        <h4>통합코드조회</h4>
    </div>
    <form th:action="@{/admin/intgCodeMgmt1p}" th:object="${inqyInpt}" method="get">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text"><label for="intgCodeId">통합코드ID</label></span>
            <input type="text" class="form-control" id="intgCodeId" th:field="*{intgCodeId}" th:value="${param.intgCodeId}">
            <span class="input-group-text"><label for="intgCodeNm">통합코드명</label></span>
            <input type="text" class="form-control" id="intgCodeNm" th:field="*{intgCodeNm}" th:value="${param.intgCodeNm}">
            <button class="btn btn-outline-secondary" type="submit">조회</button>
        </div>
    </form>

    <table class="table table-dark table-striped">
        <colgroup>
            <col width="20%"/>
            <col width="20%"/>
            <col width="*"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">통합코드ID</th>
            <th scope="col">통합코드명</th>
            <th scope="col">설명내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(intgCodeList.content)}">
            <td colspan="4">조회 할 내용이 없습니다.</td>
        </tr>
        <tr th:if="${not #lists.isEmpty(intgCodeList.content)}"
            th:each="intgCode : ${intgCodeList.content}">
            <td th:text="${intgCode.intgCodeId}">통합코드ID</td>
            <td th:text="${intgCode.intgCodeNm}">통합코드명</td>
            <td th:text="${intgCode.intcCntn}">설명내용</td>
        </tr>
        </tbody>
    </table>
    <!--STR : PAGE NAVIGATION-->
    <div class="page-nav">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous"
                       th:href="@{/admin/intgCodeMgmt1p(page=${pageNavInfo.currPage - 1}, intgCodeId=${param.intgCodeId}, intgCodeNm=${param.intgCodeNm})}"
                       th:classappend="${0 == pageNavInfo.currPage} ? 'disabled'">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"
                    th:classappend="${i == pageNavInfo.currPage + 1} ? 'disabled'"
                    th:each="i : ${#numbers.sequence(pageNavInfo.startPage, pageNavInfo.endPage)}">
                    <a class="page-link" href="#" th:text="${i}"
                       th:href="@{/admin/intgCodeMgmt1p(page=${i - 1}, intgCodeId=${param.intgCodeId}, intgCodeNm=${param.intgCodeNm})}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next"
                       th:href="@{/admin/intgCodeMgmt1p(page=${pageNavInfo.currPage + 1}, intgCodeId=${param.intgCodeId}, intgCodeNm=${param.intgCodeNm})}"
                       th:classappend="${pageNavInfo.totalPage -1 == pageNavInfo.currPage} ? 'disabled'">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!--
    <div>총 건수 : <span th:text="${intgCodeList.totalElements}"></span></div>
    <div>currPage : <span th:text="${pageNavInfo.currPage}"></span></div>
    <div>totalPage : <span th:text="${pageNavInfo.totalPage}"></span></div>
    -->

    <!-- STR : INTG CODE DETAIL-->
    <!--<div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
    </div>-->
</div>
</body>
</html>