<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/ocle-layout-admin}"
>
<head>
    <title>통합메시지관리</title>
    <script th:inline="javascript">
        $(document).ready(function() {
            /*<![CDATA[*/
            var prcsRsltCode = /*[[${prcsRsltCode}]]*/  "O";
            var msgeCntn = /*[[${msgeCntn}]]*/ "";
            /*]]>*/

            if(OcleConst.PRCS_RSLT_CODE_E == prcsRsltCode) {
                alert(msgeCntn);
            }
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <h4 class="p-3">통합메시지관리</h4>

    <!--STR:검색조건-->
    <form th:action="@{/admin/comnmgmt/IntgMsgeMgmtM}" th:object="${inqyInpt}" method="get">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">통합메시지ID</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                th:field="*{intgMsgeId}"
                th:value="${param.intgMsgeId}">
            <span class="input-group-text" id="inputGroup-sizing-sm2">메시지내용</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm2"
                   th:field="*{msgeCntn}"
                   th:value="${param.msgeCntn}">
        </div>
        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text" for="inputGroupSelect01">업무구분코드</label>
            <select class="form-select" id="inputGroupSelect01"
                    th:field="*{bswrDvsnCode}">
                <option th:value="A">전체</option>
                <option th:each="oBswrDvsnCode : ${bswrDvsnCodeList}"
                        th:value="${oBswrDvsnCode.intgCodeVal}"
                        th:text="${oBswrDvsnCode.intgCodeValNm}">업무구분코드명</option>
            </select>
            <label class="input-group-text" for="inputGroupSelect02">메시지구분코드</label>
            <select class="form-select" id="inputGroupSelect02"
                    th:field="*{msgeDvsnCode}">
                <option th:value="A">전체</option>
                <option th:each="oMsgeDvsnCode : ${msgeDvsnCodeList}"
                        th:value="${oMsgeDvsnCode.intgCodeVal}"
                        th:text="${oMsgeDvsnCode.intgCodeValNm}">메시지구분코드명</option>
            </select>
            <button class="btn btn-outline-secondary" type="submit">조회</button>
        </div>
    </form>

    <!--STR:통합메시지목록-->
    <table class="table table-dark table-striped">
        <colgroup>
            <col width="15%"/>
            <col width="8%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="*"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col" class="text-center">통합메시지ID</th>
            <th scope="col" class="text-center">상태</th>
            <th scope="col" class="text-center">업무</th>
            <th scope="col" class="text-center">구분</th>
            <th scope="col" class="text-center">메시지내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${intgMsgeList} eq null or ${#lists.isEmpty(intgMsgeList.content)}">
            <td colspan="5" class="text-center">조회 할 내용이 없습니다.</td>
        </tr>
        <tr th:if="${intgMsgeList} ne null and ${not #lists.isEmpty(intgMsgeList.content)}"
            th:each="intgMsge : ${intgMsgeList?.content}">
            <td th:text="${intgMsge.intgMsgeId}" class="text-center">통합메시지ID</td>
            <td></td>
            <td th:text="${intgMsge.bswrDvsnCode}" class="text-center">업무구분코드</td>
            <td th:text="${intgMsge.msgeDvsnCode}" class="text-center">메시지구분코드</td>
            <td th:text="${intgMsge.msgeCntn}">메시지내용</td>
        </tr>
        </tbody>
    </table>
    <!--STR : PAGE NAVIGATION-->
    <div class="page-nav">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous"
                       th:href="@{/admin/comnmgmt/IntgMsgeMgmtM(page=${pageNavInfo.currPage - 1},
                                    intgMsgeId=${param.intgMsgeId},
                                    bswrDvsnCode=${param.bswrDvsnCode},
                                    msgeDvsnCode=${param.msgeDvsnCode},
                                    msgeCntn=${param.msgeCntn})}"
                       th:classappend="${0 == pageNavInfo.currPage} ? 'disabled'">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"
                    th:classappend="${i == pageNavInfo.currPage + 1} ? 'disabled'"
                    th:each="i : ${#numbers.sequence(pageNavInfo.startPage, pageNavInfo.endPage)}">
                    <a class="page-link" href="#" th:text="${i}"
                       th:href="@{/admin/comnmgmt/IntgMsgeMgmtM(page=${i - 1},
                                    intgMsgeId=${param.intgMsgeId},
                                    bswrDvsnCode=${param.bswrDvsnCode},
                                    msgeDvsnCode=${param.msgeDvsnCode},
                                    msgeCntn=${param.msgeCntn})}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next"
                       th:href="@{/admin/comnmgmt/IntgMsgeMgmtM(page=${pageNavInfo.currPage + 1},
                                    intgMsgeId=${param.intgMsgeId},
                                    bswrDvsnCode=${param.bswrDvsnCode},
                                    msgeDvsnCode=${param.msgeDvsnCode},
                                    msgeCntn=${param.msgeCntn})}"
                       th:classappend="${pageNavInfo.totalPage -1 == pageNavInfo.currPage} ? 'disabled'">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div style="text-align: right;">
        <button class="btn btn-outline-secondary" type="button">메시지추가</button>
        <button class="btn btn-outline-primary" type="button">저장</button>
    </div>
</div>
</body>
</html>