<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/ocle-layout-admin}"
>
<head>
    <title>통합코드조회</title>
    <script th:inline="javascript">
        $(document).ready(function() {
            /*<![CDATA[*/
            var prcsRsltCode = /*[[${prcsRsltCode}]]*/  "O";
            var intgCodeList = /*[[${intgCodeList?.content}]]*/ [{"intgCodeId" : "JOIN_MTHD_DVSN_CODE"}];
            var msgeCntn = /*[[${msgeCntn}]]*/ "";
            /*]]>*/
            
            if(OcleConst.PRCS_RSLT_CODE_E == prcsRsltCode) {
                alert(msgeCntn);
            }

            if(intgCodeList && intgCodeList.length > 0) {
                selectIntgCodeValList(intgCodeList[0].intgCodeId);
            }
        });

        /**
         * 통합코드값목록조회
         */
        function selectIntgCodeValList(intgCodeId) {
            var input = {
                    "intgCodeId": intgCodeId
                };

            submitAjax({
                url: "/admin/comnmgmt/IntgCodeMgmtT01",
                data: JSON.stringify(input),
                async: true,
                success: function(data) {
                    $("#intgCodeMgmtT01").replaceWith(data);
                }
            });
        }

        /**
         * 통합코드저장
         */
        function saveIntgCode() {
            var input = $("#saveIntgCodeForm").serializeObject();

            submitAjax({
                url: "/api/admin/intgcode/IntnCodeMgmtAPI001c",
                data: JSON.stringify(input),
                async : false,
                success: function(data) {
                    var output = $.parseJSON(data);
                    alert(output.msgeCntn);
                    
                    //정상처리
                    if(OcleConst.PRCS_RSLT_CODE_O == output.prcsRsltCode) {
                        location.href = location.href;
                    } 
                }
            });
        }

        /**
         * 통합코드값저장 
         */
         function saveIntgCodeVal() {
            var input = $("#saveIntgCodeValForm").serializeObject();

            submitAjax({
                url: "/api/admin/intgcode/IntnCodeMgmtAPI002c",
                data: JSON.stringify(input),
                async : false,
                success: function(data) {
                    var output = $.parseJSON(data);
                    alert(output.msgeCntn);
                    
                    //정상처리
                    if(OcleConst.PRCS_RSLT_CODE_O == output.prcsRsltCode) {
                        selectIntgCodeValList(input.intgCodeId);
                    } 
                }
            });
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <h4 class="p-3">통합코드관리</h4>
    <form th:action="@{/admin/comnmgmt/IntgCodeMgmtM}" th:object="${inqyInpt}" method="get">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text"><label for="intgCodeId">통합코드ID</label></span>
            <input type="text" class="form-control" id="intgCodeId" th:field="*{intgCodeId}" th:value="${param.intgCodeId}">
            <span class="input-group-text"><label for="intgCodeNm">통합코드명</label></span>
            <input type="text" class="form-control" id="intgCodeNm" th:field="*{intgCodeNm}" th:value="${param.intgCodeNm}">
            <button class="btn btn-outline-secondary" type="submit">조회</button>
        </div>
    </form>

    <table class="table table-dark table-striped">
        <colgroup>
            <col width="20%"/>
            <col width="20%"/>
            <col width="*"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col" class="text-center">통합코드ID</th>
            <th scope="col" class="text-center">통합코드명</th>
            <th scope="col" class="text-center">설명내용</th>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${intgCodeList} eq null or ${#lists.isEmpty(intgCodeList.content)}">
                <td colspan="3" class="text-center">조회 할 내용이 없습니다.</td>
            </tr>
            <tr th:if="${intgCodeList} ne null and ${not #lists.isEmpty(intgCodeList.content)}"
                th:each="intgCode : ${intgCodeList?.content}">
                <td class="text-center">
                    <a th:text="${intgCode.intgCodeId}" href="#"
                       th:onclick="selectIntgCodeValList([[${intgCode.intgCodeId}]]); return false;">통합코드ID</a>
                </td>
                <td class="text-center" th:text="${intgCode.intgCodeNm}">통합코드명</td>
                <td th:text="${intgCode.intcCntn}">설명내용</td>
            </tr>
        </tbody>
    </table>
    <!--STR : PAGE NAVIGATION-->
    <div class="page-nav">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous"
                       th:href="@{/admin/comnmgmt/IntgCodeMgmtM(page=${pageNavInfo.currPage - 1}, intgCodeId=${param.intgCodeId}, intgCodeNm=${param.intgCodeNm})}"
                       th:classappend="${0 == pageNavInfo.currPage} ? 'disabled'">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"
                    th:classappend="${i == pageNavInfo.currPage + 1} ? 'disabled'"
                    th:each="i : ${#numbers.sequence(pageNavInfo.startPage, pageNavInfo.endPage)}">
                    <a class="page-link" href="#" th:text="${i}"
                       th:href="@{/admin/comnmgmt/IntgCodeMgmtM(page=${i - 1}, intgCodeId=${param.intgCodeId}, intgCodeNm=${param.intgCodeNm})}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next"
                       th:href="@{/admin/comnmgmt/IntgCodeMgmtM(page=${pageNavInfo.currPage + 1}, intgCodeId=${param.intgCodeId}, intgCodeNm=${param.intgCodeNm})}"
                       th:classappend="${pageNavInfo.totalPage -1 == pageNavInfo.currPage} ? 'disabled'">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <h6 class="py-4 mt-4">통합코드추가</h6>
    <form method="post" id="saveIntgCodeForm">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text"><label>통합코드ID</label></span>
            <input name="intgCodeId" type="text" class="form-control">
            <span class="input-group-text"><label>통합코드명</label></span>
            <input name="intgCodeNm" type="text" class="form-control">
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text"><label>설명내용</label></span>
            <textarea name="intcCntn" class="form-control" aria-label="With textarea"></textarea>
            <a class="btn btn-outline-secondary" type="button" href="#"
               th:onclick="saveIntgCode(); return false;">추가</a>
        </div>
    </form>

    <!-- STR : INTG CODE DETAIL-->
    <div class="mt-5">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">유효값</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">기본정보</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>-->
        </ul>
        <div class="tab_content py-3" style="min-height: 300px;" id="intgCodeMgmtT01">
            <table class="table table-dark table-striped">
                <colgroup>
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="*"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col" class="text-center">통합코드ID</th>
                    <th scope="col" class="text-center">통합코드값</th>
                    <th scope="col" class="text-center">통합코드값명</th>
                    <th scope="col" class="text-center">설명내용</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(intgCodeValList)}">
                    <td colspan="4" class="text-center">조회 할 내용이 없습니다.</td>
                </tr>
                <tr th:if="${not #lists.isEmpty(intgCodeValList)}"
                    th:each="intgCodeVal : ${intgCodeValList}">
                    <td class="text-center" th:text="${intgCodeVal.intgCodeId}">통합코드ID</td>
                    <td class="text-center" th:text="${intgCodeVal.intgCodeVal}">통합코드값</td>
                    <td class="text-center" th:text="${intgCodeVal.intgCodeValNm}">통합코드값명</td>
                    <td th:text="${intgCodeVal.intcCntn}">설명내용</td>
                </tr>
                </tbody>
            </table>

            <h6 class="py-4 mt-4">통합코드값추가</h6>
            <form method="post" id="saveIntgCodeValForm">
                <input type="hidden" name="intgCodeId" th:value="${intgCodeId}">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text"><label>통합코드값</label></span>
                    <input name="intgCodeVal" type="text" class="form-control">
                    <span class="input-group-text"><label>통합코드값명</label></span>
                    <input name="intgCodeValNm" type="text" class="form-control">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text"><label>설명내용</label></span>
                    <textarea name="intcCntn" class="form-control" aria-label="With textarea"></textarea>
                    <a class="btn btn-outline-secondary" type="button" href="#"
                       th:onclick="saveIntgCodeVal(); return false;">추가</a>
                </div>
            </form>
        </div>
        <div class="tab_content py-3" style="min-height: 300px; display: none;" id="intgCodeMgmtT02">
            <table class="table table-dark table-striped">
                <colgroup>
                    <col width="20%"/>
                    <col width="30%"/>
                    <col width="20%"/>
                    <col width="*"/>
                </colgroup>
                <tbody>
                    <tr>
                        <th>통합코드ID</th>
                        <td></td>
                        <th>통합코드명</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>설명내용</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th>등록자</th>
                        <td></td>
                        <th>등록일시</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>수정자</th>
                        <td></td>
                        <th>수정일시</th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>