<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/ocle-layout}"
>
<head>
    <title>sample</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        jQuery(document).ready(function() {
        });
        /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content">
    <h1>파일 업로드</h1> <hr>
    <form th:action="@{/sample/fileupload/fileupload}" method="post" enctype="multipart/form-data">
        <!--제목 : <input type="text" name="title"> <br>-->
        파일 : <input type="file" name="file"> <br>

        <div th:unless="${#strings.isEmpty(fileUrl)}" th:text="${fileUrl}"></div>
        <div th:if="${prcsRsltCode} eq 'E'" th:text="${msgeCode}" class="in-valid"></div>
        <div th:if="${prcsRsltCode} eq 'E'" th:text="${msgeCntn}" class="in-valid"></div>
        <button type="submit">등록하기</button>
    </form>
</div>
</body>
</html>